@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.imagen1 {
    background-image: url(/public/img/imagen1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    font-family: "Roboto Condensed", sans-serif;
}

.imagen1 h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.imagenP{
    background-color: #e2d6bc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}


.imagen2{
    background-image: url(/public/img/imagen2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 150px;
}

.imagen3 {
    background-image: url(/public/img/imagen3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 150px;
}

.imagen4 {
    background-image: url(/public/img/imagen4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 150px;
}

.imagen5 {
    background-image: url(/public/img/imagen6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 150px;
}

.imagen6 {
    background-image: url(/public/img/imagen5.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.imagen6 h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.descuento span{
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 0.551);
    font-size: 25px;
    font-weight: 300;
}

.descuento{
    background-color: rgb(39, 42, 35);
}

.detalle{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: light;
    font-size: 20px;
    font-style: italic;
}

.detalle::after{
    content:'';
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    display: block;
    transition: 0.2s linear;
}

.detalle:hover::after{
    width: 100%;
}

@media (max-width: 768px) {
    .imagenP img{
        max-width: 300px;
    }
    .imagenP{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
}