.login{
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.login-titulo{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.737);
    font-weight: bolder;
    text-align: center;
    letter-spacing: -4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.login-fondo{
    background-image: url(/public/img/FondoEstampado.JPG);
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    margin-top: 100px;
    height: 424px;
    width: 400px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.formulario{
    position: relative;
    top: 24px;
}
