.product-card{
    background-image: url(/public/img/FondoProduct.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.card-body p{
    height: 180px;
}

.bi-heart{
    background-color: white;
    text-align: center;
    height: min-content;
    width: 25px;
}

.product-card img{
    transition: transform 0.4s ease-in-out;
}

.product-card img:hover{
    transform: scale(1.05);
}


@media (max-width: 1400px) {
    .card-body p{
        height: 290px;
    }
}

@media (max-width: 980px) {
    .card-body p{
        height: 130px;
        margin-bottom: 50px;
    }
}
