@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.lista-products{
    width: 100%;
}

.store{
    padding: 55px
}

.store h1{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60px;
    letter-spacing: -3px;
}

.color{
    font-size: 80px;
}

.store h3, h5{
    font-weight: lighter;
}

