
.pay i{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.53);
}

.footer{
    margin-top: 100px;
    border-top: 1px solid black;
}

@media (max-width: 768px) {
.newsletter{
    margin-bottom: 50px;
}

.legal{
    margin-bottom: 50px;
}
}